@using Chinook.BusinessModel.Models
@model Song
@{
    ViewData["Title"] = "Album y Artistas";
    var album = (Album)ViewBag.Album;

}

<div class="d-flex justify-content-center">
    <form class="w-75" enctype="multipart/form-data" method="post" asp-controller="Album" asp-action="AddArtist">
        <div class="form-group">
            <label for="Name">Nombre</label>
            <input type="text" class="form-control" id="Name" name="Name" required>
        </div>

        <input name="AlbumId" type="hidden" value="@album.AlbumId" />

        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>

    <br />
    
</div>

<div class="d-flex justify-content-center">
    <table class="table w-50">
        <thead class="thead-dark">
            <tr>
                <td scope="col">Nombre</td>
                <td scope="col">Opciones</td>
            </tr>
        </thead>

        <tbody>
            @foreach(var art in album.Artists)
            {
                <tr>
                    <td>@art.Name</td>
                    <td>
                        <a asp-controller="Album" role="button" asp-route-id="@art.ArtistId" asp-action="RemoveArtist" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
     </table>
</div>

<script>

</script>